<ul class="{{ listStyles }}">
	<li class="md:pb-2 lg:pb-0">
		<a href="{{siteUrl}}#featured-collections" class="hover:text-rug-light-blue">Collections</a>
	</li>
	{% for link in navLinks %}
		<li class="md:pb-2 lg:pb-0">
			{% include "_snippets/nav-item" %}
		</li>
	{% endfor %}
	<li class="md:pb-2 lg:pb-0">
		<a href="{{siteUrl}}#contact-us-section" class="hover:text-rug-light-blue">Contact Us</a>
	</li>
	<li class="md:pb-2 lg:pb-0 {{ headerStyles }}">
		{% include "_snippets/wish-list-icon" %}
	</li>
	<ul class="flex-row items-center justify-center hidden space-x-4 md:flex md:justify-start lg:hidden">
	{% for block in socialMediaList %}
		{% set accountLink = block.accountLink %}
		{% if 'youtube' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" target="_blank" rel="nofollow">
					<i class="fab fa-youtube"></i>
				</a>
			</li>
		{% elseif 'facebook' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" @click="isOpen = false" target="_blank" rel="nofollow">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
		{% elseif 'twitter' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" @click="isOpen = false" target="_blank" rel="nofollow">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
		{% elseif 'instagram' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" @click="isOpen = false" target="_blank" rel="nofollow">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		{% elseif 'pinterest' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" @click="isOpen = false" target="_blank" rel="nofollow">
					<i class="fab fa-pinterest-p"></i>
				</a>
			</li>
		{% elseif 'linkedin' in accountLink %}
			<li>
				<a href="{{ accountLink }}" class="social-item" @click="isOpen = false" target="_blank" rel="nofollow">
					<i class="fab fa-linkedin-in"></i>
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
</ul>
