<article id="" class="">
	<h2>{{ name }}</h2>
	<picture>
		<img src="{{ thumbnail.src() }}" data-srcset="{{ thumbnail.srcset() }}" alt="{{ name }}" class="object-cover w-20 h-20">
	</picture>
	<form method="POST" id="add-to-wishlist">
		<input type="hidden" name="action" value="wishlist/items/toggle">
		{{ csrfInput() }}
		<input type="hidden" name="wishListURL" value="/wish-list">
		<input type="hidden" name="elementId" value="{{ entry.id }}">

		<input type="submit" value="{% if ( list|length ) and (entry.title in list.items) %}Remove From{% else %}Add To{% endif %} List" class="">
	</form>
</article>
