<section class="flex flex-col items-center w-full">
	{% macro errorList(errors) %}
		{% if errors %}
			<ul class="errors">
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endmacro %}

	{% from _self import errorList %}

	<form method="post" action="" accept-charset="UTF-8" class="flex flex-col w-full">
		{{ csrfInput() }}

		<input type="hidden" name="action" value="contact-form/send">
		<input id="contactFormHoneypot" name="contactFormHoneypot" type="text">
		{{ redirectInput('#wishlistForm') }}
		{% if craft.app.session.hasFlash('notice') %}
			<p class="mb-2 font-bold text-center message notice">{{ craft.app.session.getFlash('notice') }}</p>
		{% elseif craft.app.session.hasFlash('error') %}
			<p class="mb-2 font-bold text-center message error">{{ craft.app.session.getFlash('error') }}</p>
		{% endif %}
		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="from-name">Full Name</label>
			</p>
			<input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">
			{{ message is defined and message ? errorList(message.getErrors('fromName')) }}
		</div>

		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="from-email">From E-Mail</label>
			</p>
			<input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">
			{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
		</div>

		<div class="flex flex-row items-center mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label for="to-email">To E-Mail</label>
			</p>
			<input id="to-email" type="email" name="toEmail" value="{{ message.toEmail ?? '' }}" class="flex-grow w-auto h-12 px-4 border-4 rounded-none border-rug-light-blue">
			{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
		</div>

		<div class="flex flex-col mb-4">
			<p class="flex items-center justify-center w-32 h-12 text-sm uppercase bg-rug-light-blue text-rug-dark-blue">
				<label class="text-center" for="message">Special Requests</label>
			</p>
			<textarea rows="4" cols="40" id="message" name="message[body]" class="w-full p-4 border-4 rounded-none resize-none border-rug-light-blue">{{ message.message ?? '' }}</textarea>
			{{ message is defined and message ? errorList(message.getErrors('message')) }}
		</div>

		<input type="submit" value="Submit Request" class="self-center block w-64 px-6 py-2 text-xl text-center rounded-none bg-rug-light-blue hover:bg-rug-grey text-rug-dark-blue font-nexa-rust-sans">
	</form>
</section>
