<article id="featured-collections" class="flex flex-col flex-wrap section-wrapper">
	<section id="" class="flex flex-col flex-wrap w-full my-16">
		<h3 class="m-4 text-rug-grey">Rugs By Size</h3>
		<section class="flex flex-row flex-wrap w-full">
			{% set collections = craft.categories.group('size') %}
			{% for collection in collections.all() %}
				{% set thumbnail = collection.collectionThumbnail.one().optimizedImages %}
				<picture class="relative p-4">
					<a href="{{ collection.getUrl }}">
						<img src="{{ thumbnail.src() }}" alt="{{ collection.collectionThumbnail.title }}" data-srcset="{{ thumbnail.srcset() }}" class="object-cover border-2 w-36 h-36 md:w-48 md:h-48 lg:w-64 lg:h-64 border-rug-light-blue hover:border-rug-yellow">
						<p class="absolute right-0 p-4 bg-rug-light-blue hover:bg-rug-grey bottom-1">{{ collection.title }}</p>
					</a>
				</picture>
			{% endfor %}
		</section>
	</section>
	<section id="" class="flex flex-col flex-wrap w-full my-16">
		<h3 class="m-4 text-rug-grey">Rugs By Design</h3>
		<section class="flex flex-row flex-wrap w-full">
			{% set collections = craft.categories.group('collections') %}
			{% for collection in collections.all() %}
				{% set thumbnail = collection.collectionThumbnail.one().optimizedImages %}
				<picture class="relative p-4">
					<a href="{{ collection.getUrl }}">
						<img src="{{ thumbnail.src() }}" alt="{{ collection.collectionThumbnail.title }}" data-srcset="{{ thumbnail.srcset() }}" class="object-cover border-2 w-36 h-36 md:w-48 md:h-48 lg:w-64 lg:h-64 border-rug-light-blue hover:border-rug-yellow">
						<p class="absolute right-0 p-4 bg-rug-light-blue hover:bg-rug-grey bottom-1">{{ collection.title }}</p>
					</a>
				</picture>
			{% endfor %}
		</section>
	</section>
</article>
