<section id="" class="w-full h-full p-4 section-wrapper bg-rug-grey" x-data="{ filter: 'origin' }">
	<h3>Filters</h3>
	<div id="" class="flex flex-col items-start pt-4 filter-ui-group">
		<div id="" class="flex flex-col mb-4">
			<button id="" class="mb-2 text-left" :class="{ 'text-rug-light-blue': filter === 'origin' }" @click="filter = 'origin'">
				<h2>Origin</h2>
			</button>
			<fieldset data-filter-group class="flex flex-row">
				{% set tags = craft.tags().group('origin') %}
				{% for tag in tags.all() %}
					<label class="control control-checkbox font-quicksand">{{ tag.title }}
						<input type="checkbox" value=".{{ tag.title|replace(' ', '') }}"/>
						<div class="control_indicator"></div>
					</label>
				{% endfor %}
			</fieldset>
		</div>
		<div id="" class="flex flex-col mb-4">
			<button id="" class="mb-2 text-left" :class="{ 'text-rug-light-blue': filter === 'age' }" @click="filter = 'age'">
				<h2>Age</h2>
			</button>
			<fieldset data-filter-group class="flex flex-row">
				{% set tags = craft.tags().group('age') %}
				{% for tag in tags.all() %}
					<label class="control control-checkbox font-quicksand">{{ tag.title }}
						<input type="checkbox" value=".{{ tag.title|replace(' ', '') }}"/>
						<div class="control_indicator"></div>
					</label>
				{% endfor %}
			</fieldset>
		</div>
		{% set colors = [] %}
		{% set tags = craft.tags().group(['primaryColors','secondaryColors']) %}
		{% for tag in tags.all() %}
		{% set color = tag.title %}
			{% if color not in colors %}
				{% set colors = colors|merge([color]) %}
			{% endif %}
		{% endfor %}
		<div id="" class="flex flex-col mb-4">
			<button id="" class="mb-2 text-left" :class="{ 'text-rug-light-blue': filter === 'color' }" @click="filter = 'color'">
				<h2>Color</h2>
			</button>
			<fieldset data-filter-group class="flex flex-row">
				{% set tags = colors %}
				{% for tag in tags %}
					<label class="control control-checkbox font-quicksand">{{ tag }}
						<input type="checkbox" value=".{{ tag|replace(' ', '') }}"/>
						<div class="control_indicator"></div>
					</label>
				{% endfor %}
			</fieldset>
		</div>
		<div id="" class="flex flex-col mb-4">
			<button id="" class="mb-2 text-left" :class="{ 'text-rug-light-blue': filter === 'collection' }" @click="filter = 'collection'">
				<h2>Collection</h2>
			</button>
			<fieldset data-filter-group class="flex flex-row">
				{% set categories = craft.categories().group('collections') %}
				{% for category in categories.all() %}
					<label class="control control-checkbox font-quicksand">{{ category.title }}
						<input type="checkbox" value=".{{ category.title|replace(' ', '') }}"/>
						<div class="control_indicator"></div>
					</label>
				{% endfor %}
			</fieldset>
		</div>
		<div id="" class="flex flex-col mb-4">
			<button id="" class="mb-2 text-left" :class="{ 'text-rug-light-blue': filter === 'size' }" @click="filter = 'size'">
				<h2>Size</h2>
			</button>
			<fieldset data-filter-group class="flex flex-row">
				{% set categories = craft.categories().group('size') %}
				{% for category in categories.all() %}
					<label class="control control-checkbox font-quicksand">{{ category.title }}
						<input type="checkbox" value=".{{ category.title|replace(' ', '') }}"/>
						<div class="control_indicator"></div>
					</label>
				{% endfor %}
			</fieldset>
		</div>
	</div>
</section>
