<section id="page-content" class="section-wrapper" x-data="{selected:null}">
	{% set pageContent = entry.pageContent %}
	{% for row in pageContent.all() %}
		<article id="" class="my-8 ">
			<h1>{{ row.sectionHeader}}</h1>
			<div id="" class="flex flex-row flex-wrap w-full">
				{% for block in row.sectionContent.all() %}
					{% switch block.type %}
						{% case "subheading" %}
							<h2 class="w-full my-4 border-b-2 border-rug-light-blue">{{ block.subheadingText }}</h2>
						{% case "body" %}
							<div id="" class="flex-1 p-4">
								{{ block.bodyText  | nl2br }}
							</div>

						{% case "break" %}
							<div class="flex-shrink-0 w-full mt-4 mb-4 {% if block.appearance == " line" %}border-b-2 border-rug-dark-blue{% endif %}"></div>
						{% case "image" %}
							{% set imageWidth = "" %}
							{% set imageHeight = "" %}
							{% set imageSize = "" %}
							{% set imageCaption = block.caption %}
							{% set image = block.image.one().optimizedImages %}

							{% if block.size == "fullWidth" %}
								{% set imageWidth = "w-full" %}
								{% set imageSize = "w-full" %}
							{% elseif block.size == "halfWidth" %}
								{% set imageWidth = "w-full md:w-1/2" %}
								{% set imageSize = "w-full" %}
							{% elseif block.size == "thirdWidth" %}
								{% set imageWidth = "w-full md:w-1/3" %}
								{% set imageSize = "w-full" %}
							{% elseif block.size == "square" %}
								{% set imageWidth = "" %}
								{% set imageSize = "h-36 md:h-48 lg:h-64 w-36 md:w-48 lg:w-64" %}
							{% endif %}

							{% if block.height == "fullHeight" %}
								{% set imageHeight = "h-full" %}
							{% elseif block.height =="uniformShort" %}
								{% set imageHeight = "h-64 md:h-48 lg:h-64" %}
							{% elseif block.height =="uniformTall" %}
								{% set imageHeight = "h-96 md:h-72 lg:h-96" %}
							{% elseif block.height =="auto" %}
								{% set imageHeight = "" %}
							{% endif %}


							<picture id="" class="{{ imageWidth }} text-center flex flex-col items-center p-4">
								<img src="{{ image.src() }}" alt="" data-srcset="{{ image.srcset() }}" class="{{ imageSize }} {{ imageHeight }} object-cover border-2 border-rug-grey mb-2 max-h-96">
								<div class="p-2">{{ imageCaption }}</div>
							</picture>

						{% case "accordion" %}
							<div id="" class="flex flex-row justify-between w-full my-4 border-b-2 cursor-pointer h- border-rug-light-blue" @click="selected !== {{ loop.index }} ? selected = {{ loop.index }} : selected = null" :class="{ 'text-rug-dark-blue font-bold': selected === {{ loop.index }}, 'text-rug-dark-blue': selected !== {{ loop.index }} }">
								<h2>{{ block.heading }}</h2>
								<span :class="selected == {{ loop.index }} ? 'fa-minus-circle' : 'fa-plus-circle'" class="text-2xl far "></span>
							</div>
							<div class="w-full" x-show="selected == {{ loop.index }}">
								{{ block.text|nl2br }}
							</div>
						{% case "genericButton" %}
							{% set ctaText = block.text %}
							{% set ctaLink = block.buttonLink %}
							<a href="{{ ctaLink }}" class="self-start btn-main">{{ ctaText }}</a>


						{% case "callToActionButton" %}
							{% set ctaText = block.callToActionText %}
							{% set ctaLink = siteUrl ~ '#contact-us-section' %}
							<a href="{{ ctaLink }}" class="self-start btn-main">{{ ctaText }}</a>


					{% endswitch %}
				{% endfor %}
			</div>
		</article>
	{% endfor %}
</section>
