<section id="page-content" class="section-wrapper">
	{% set pageContent = entry.pageContent %}
	{% for row in pageContent %}
		<article id="" class="">
			<h1>{{ row.sectionHeader}}</h1>
			<div id="" class="w-full">
				{% for block in row.sectionContent %}
					{% switch block.type %}
						{% case "subheading" %}
							<h2 class="block w-full">{{ block.subheadingText }}</h2>
						{% case "body" %}
							{{ block.bodyText }}
						{% case "image" %}
							{% set imageWidth = "" %}
							{% set imageAlignment = "" %}
							{% set imageCaption = block.caption %}
							{% set image = block.image.one().optimizedImages %}

							{% if block.size == "fullWidth" %}
								{% set imageWidth = "w-full" %}
							{% elseif block.size == "halfWidth" %}
								{% set imageWidth = "w-1/2" %}
							{% elseif block.size == "thirdWidth" %}
								{% set imageWidth = "w-1/3" %}
							{% endif %}

							{% if block.alignment == "left" %}
								{% set imageAlignment = "float-left pr-4" %}
							{% elseif block.alignment == "right" %}
								{% set imageAlignment = "float-right pl-4" %}
							{% elseif block.alignment == "center" %}
								{% set imageAlignment = "mx-auto float-none px-4" %}
							{% endif %}
							<picture id="" class="{{ imageWidth }} {{ imageAlignment }}">
								<img src="{{ image.src() }}" alt="" data-srcset="{{ image.srcset() }}" class="object-cover">
								<p>{{ imageCaption }}</p>
							</picture>
						{% case "accordion" %}

					{% endswitch %}
				</div>
			{% endfor %}
		</article>
	{% endfor %}
</section>
