<section id="contact-us" class="relative bg-rug-white">
	{% set contactBackgroundImage = entry.contactBackgroundImage.one().optimizedImages %}
	{% set contactBackgroundImageAltText = entry.contactBackgroundImage.one().title %}
	<picture id="contact-image">
		<img src="{{ contactBackgroundImage.src() }}" alt="{{ contactBackgroundImageAltText }}" data-srcset="{{ contactBackgroundImage.srcset() }}" class="object-cover w-screen max-h-2/3-screen {{ contactOpacity }}">
	</picture>
	{% set contactImage = "" %}
	{% set contactIntroHeader = "" %}
	{% set contactIntroBodyText = "" %}
	{% for block in entry.contactUsContent.all() %}
		{% set contactImage = block.contactImage.one().optimizedImages %}
		{% set contactIntroHeader = block.contactIntroHeader %}
		{% set contactIntroBodyText = block.contactIntroBodyText %}
	{% endfor %}
	<header id="contact-intro-container" class="absolute top-0 left-0 flex flex-row items-end justify-around w-full h-full p-16">
		<section id="contact-intro-wrapper" class="flex flex-row h-full max-w-3xl flex-shrink-1">
			<article id="contact-intro-text" class="flex flex-col justify-between flex-shrink-0 w-1/2 px-4 pt-4 pb-6 mt-20 mr-4 text-right bg-rug-dark-blue text-rug-white">
				<span id="text-wrapper" class="">
					<h1 class="text-rug-grey">{{ contactIntroHeader }}</h1>
					<h2 class="mb-6">{{ contactIntroBodyText|nl2br }}</h2>
				</span>
				{% include "_content/contact-form" %}
			</article>
			<picture id="contact-intro-image" class="flex flex-col flex-grow mb-12">
				<img src="{{ contactImage.src }}" alt="" data-srcset="{{ contactImage.srcset}}" class="object-cover w-full h-full border-2 border-rug-dark-blue">
				<section id="contact-contact-block" class="flex flex-col p-4 text-right text-rug-dark-blue">
					{% set contactStyles = "text-left text-base font-bioRhyme" %}
					{% include "_snippets/contact-info" %}
				</section>
			</picture>
		</section>

	</header>
</section>
