{% set contactBackgroundImage = entry.contactBackgroundImage.one().optimizedImages %}
<section id="contact-us-section" class="flex flex-col w-full bg-opacity-25 bg-no-repeat bg-cover bg-rug-white" style="background-image: url('{{ contactBackgroundImage.src() }}'); background-color: rgba(255, 255, 255, 0.66);
		    background-blend-mode: lighten;">

	{% set contactImage = "" %}
	{% set contactIntroHeader = "" %}
	{% set contactIntroBodyText = "" %}
	{% for block in entry.contactUsContent.all() %}
		{% set contactImage = block.contactImage.one().optimizedImages %}
		{% set contactIntroHeader = block.contactIntroHeader %}
		{% set contactIntroBodyText = block.contactIntroBodyText %}
	{% endfor %}
	<header id="contact-intro-container" class="flex flex-row items-end justify-around w-full h-full p-4 md:p-16 flex-grow-1">
		<section id="contact-intro-wrapper" class="flex flex-col w-full h-full max-w-3xl md:flex-row flex-shrink-1">
			<article id="contact-intro-text" class="flex flex-col justify-between flex-shrink-0 w-full px-4 pt-4 pb-6 mb-20 mr-4 text-right md:mt-20 md:w-1/2 bg-rug-dark-blue text-rug-white">
				<span id="text-wrapper" class="">
					<h1 class="text-rug-grey">{{ contactIntroHeader }}</h1>
					<h2 class="mb-6">{{ contactIntroBodyText|nl2br }}</h2>
				</span>
				{% include "_content/contact-form" %}
			</article>
			<picture id="contact-intro-image" class="flex flex-col flex-grow mb-12">
				<img src="{{ contactImage.src }}" alt="" data-srcset="{{ contactImage.srcset}}" class="object-cover w-full h-full border-2 border-rug-dark-blue">
				<section id="contact-contact-block" class="flex-col hidden p-4 text-left md:flex text-rug-dark-blue">
					{% set contactStyles = "text-left text-base font-bioRhyme" %}
					{% include "_snippets/contact-info" %}
					<a href="mailto:texturarugs@gmail.com" class="text-left"><p>texturarugs@gmail.com</p></a>
				</section>
			</picture>
		</section>

	</header>
</section>
