<article id="" class="flex flex-col flex-wrap w-full md:flex-row section-wrapper md:mt-48">

	<section id="" class="w-full px-4 text-left md:text-right md:w-1/3">
    	<h1 class="w-full">{{ entry.title }}</h1>
		<h2>{{ entry.productDescription }}</h2>
		<ul>
			<li>
				<p>
					Length:
					<strong>{{ entry.physicalLength }}'</strong>
				</p>
			</li>
			<li>
				<p>
					Width:
					<strong>{{ entry.physicalWidth }}'</strong>
				</p>
			</li>
			<li>
				<p>
					Origin:
					{% set origins = entry.origin.all() %}
					{% for tag in origins %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Primary Color:
                    {% set colors = entry.colors.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Secondary Color:
                    {% set colors = entry.colors.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Materials:
                    {% set materials = entry.material.all() %}
					{% for tag in materials %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Construction:
                    {% set construction = entry.construction.all() %}
					{% for tag in construction %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Age:
                    {% set age = entry.age.all() %}
					{% for tag in age %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
		</ul>
		<form method="POST" id="add-to-wishlist" class="flex flex-row justify-end pt-2">
			<input type="hidden" name="action" value="wishlist/items/toggle">
			{{ csrfInput() }}
			<input type="hidden" name="wishListURL" value="/wish-list">
			<input type="hidden" name="elementId" value="{{ entry.id }}">

			<button type="submit" name="button" class="wish-list-button btn-main">{% if ( list|length ) and (entry.title in list.items) %}Remove From{% else %}Add To{% endif %} Wishlist</button>
		</form>
	</section>
	<section id="" class="flex flex-row flex-wrap justify-start w-full px-4 md:w-2/3">
		{% for image in entry.productImages.all() %}
			{% set thumbnail = image.optimizedImages %}
			<picture class="p-2">
				<a href="#" data-featherlight="{{ image.getUrl }}">
					<img src="{{ thumbnail.src() }}" alt="{{ image.title }}" data-srcset "{{ thumbnail.srcset() }}" class="object-cover w-64 h-64 ">
				</a>
			</picture>

		{% endfor %}
	</section>
</article>
