<article id="" class="">
	<h1>{{ entry.title }}</h1>
	<section id="" class="">
		<h2>{{ entry.productDescription }}</h2>
		<ul>
			<li>
				<p>
					Length:
					{{ entry.physicalLength }}
				</p>
			</li>
			<li>
				<p>
					Width:
					{{ entry.physicalWidth }}
				</p>
			</li>
			<li>
				<p>
					Origin:
					{% set origins = entry.origin.all() %}
					{% for tag in origins %}
						{{ tag.title }}
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Primary Color:
					{{ entry.colors.title }}
				</p>
			</li>
			<li>
				<p>
					Secondary Color:
					{{ entry.colors.title }}
				</p>
			</li>
			<li>
				<p>
					Materials:
					{{ entry.material.title }}
				</p>
			</li>
			<li>
				<p>
					Construction:
					{{ entry.construction.title }}
				</p>
			</li>
			<li>
				<p>
					Age:
					{{ entry.age.title }}
				</p>
			</li>
		</ul>
		<form method="POST" id="add-to-wishlist">
			<input type="hidden" name="action" value="wishlist/items/toggle">
			{{ csrfInput() }}
			<input type="hidden" name="wishListURL" value="/wish-list">
			<input type="hidden" name="elementId" value="{{ entry.id }}">

			<button type="submit" name="button" class="wish-list-button">Add to Wishlist</button>
		</form>
	</section>
	<section id="" class="">
		{% for image in entry.productImages.all() %}
			{% set thumbnail = image.optimizedImages %}
			<picture>
				<a href="#" data-featherlight="{{ image.getUrl }}">
					<img src="{{ thumbnail.src() }}" alt="{{ image.title }}" data-srcset "{{ thumbnail.srcset() }}" class="object-cover w-64 h-64 ">
				</a>
			</picture>

		{% endfor %}
	</section>
</article>
