<article id="" class="flex flex-col flex-wrap w-full md:flex-row section-wrapper md:mt-48">
	{% set list = craft.wishlist.lists().default(true).one() %}
	<section id="" class="w-full px-6 mb-4 text-left md:text-right md:w-1/3">
		<h1 class="w-full">{{ entry.title }}</h1>
		<h2>{{ entry.productDescription }}</h2>
		<ul>
			<li>
				<p>
					Product Number:
					<strong>{{ entry.productNumber }}</strong>
				</p>
			</li>
			<li>
				<p>
					Length:
					<strong>{{ entry.physicalLengthFt }}'
						{% if entry.physicalLengthIn|length %}
							{{ entry.physicalLengthIn }}"
						{% endif %}
					</strong>
				</p>
			</li>
			<li>
				<p>
					Width:
					<strong>{{ entry.physicalWidthFt }}'
						{% if entry.physicalWidthIn|length %}
							{{ entry.physicalWidthIn }}"
						{% endif %}
					</strong>
				</p>
			</li>
			<li>
				<p>
					Origin:
					{% set origins = entry.origin.all() %}
					{% for tag in origins %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Primary Color:
					{% set colors = entry.primaryColor.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Secondary Color:
					{% set colors = entry.secondaryColor.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Materials:
					{% set materials = entry.material.all() %}
					{% for tag in materials %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Construction:
					{% set construction = entry.construction.all() %}
					{% for tag in construction %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Age:
					{% set age = entry.age.all() %}
					{% for tag in age %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
		</ul>
		<form method="POST" id="add-to-wishlist" class="flex flex-row justify-start pt-2 pointer-events-none md:justify-end">
			<input type="hidden" name="action" value="wishlist/items/toggle">
			{{ csrfInput() }}
			<input type="hidden" name="elementId" value="{{ entry.id }}">
		</form>
		<button type="submit" id="wish-list-button" name="button" form="add-to-wishlist" class="btn-main" onclick="toggleButtonText(event);">
			{% if ( list|length ) and (entry.title in list.items) %}Remove From{% else %}Add to
			{% endif %}
			Wishlist</button>
	</section>
	<section id="" class="flex flex-row flex-wrap justify-start w-full px-4 md:w-2/3">
		{% for image in entry.productImages.all() %}
			{% set thumbnail = image.optimizedImages %}
			<picture class="p-2">
				<a href="#" data-featherlight="{{ image.getUrl }}">
					<img src="{{ thumbnail.src() }}" alt="{{ image.title }}" data-srcset "{{ thumbnail.srcset() }}" class="object-cover w-32 h-32 border-2 md:w-40 md:h-40 xl:w-56 xl:h-56 border-rug-grey hover:border-rug-light-blue">
				</a>
			</picture>

		{% endfor %}
	</section>
</article>
