<article id="" class="flex flex-row flex-wrap w-full mt-2 section-wrapper md:mt-10">
<i class="z-40 w-full text-2xl cursor-pointer fas fa-times text-rug-dark-blue" @click="showRug = false, open = false"></i>
	{% set list = craft.wishlist.lists().default(true).one() %}
	<section id="" class="flex flex-col items-start w-full px-6 mb-4 text-left md:items-end md:text-right md:w-1/3">
		<h1 class="w-full">{{ entry.title }}</h1>
		<h2>{{ entry.productDescription }}</h2>
		<ul class="mb-6">
			<li>
				<p>
					Product Number:
					<strong>{{ entry.productNumber }}</strong>
				</p>
			</li>
			<li>
				<p>
					Width:
					<strong>{{ entry.physicalWidthFt }}'
						{% if entry.physicalWidthIn|length %}
							{{ entry.physicalWidthIn }}"
						{% endif %}
					</strong>
				</p>
			</li>
			<li>
				<p>
					Length:
					<strong>{{ entry.physicalLengthFt }}'
						{% if entry.physicalLengthIn|length %}
							{{ entry.physicalLengthIn }}"
						{% endif %}
					</strong>
				</p>
			</li>
			<li>
				<p>
					Origin:
					{% set origins = entry.origin.all() %}
					{% for tag in origins %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Primary Color:
					{% set colors = entry.primaryColor.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Secondary Color:
					{% set colors = entry.secondaryColor.all() %}
					{% for tag in colors %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Materials:
					{% set materials = entry.material.all() %}
					{% for tag in materials %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Construction:
					{% set construction = entry.construction.all() %}
					{% for tag in construction %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
			<li>
				<p>
					Age:
					{% set age = entry.age.all() %}
					{% for tag in age %}
						<strong>{{ tag.title }}</strong>
					{% endfor %}
				</p>
			</li>
		</ul>
		{# <form method="POST" id="add-to-wishlist" class="flex flex-row justify-start pt-2 md:justify-end">
					<input type="hidden" name="action" value="wishlist/items/toggle">
					{{ csrfInput() }}
					<input type="hidden" name="elementId" value="{{ entry.id }}">
					<button type="submit" id="wish-list-button" name="button" form="add-to-wishlist" class="btn-main">
						{% if ( list|length ) and (entry.title in list.items) %}Remove From{% else %}Add to
						{% endif %}
						Wishlist</button>
				</form> #}
		{{ sprig('_snippets/wishlist-button', {'entryId': entry.id}) }}
		{# <a href="rugs/{{ entry.slug }}" target="_blank" class="text-xs text-rug-dark-blue font-quicksand hover:bg-light-blue">Open in a new Tab</a> #}

	</section>
	<section id="" class="flex flex-row flex-wrap content-start justify-start w-full px-4 md:w-2/3">
		{% for image in entry.productImages.all() %}
			{% set thumbnail = image.optimizedImages %}
			<picture class="p-2" x-data="{open: false}">
				<img src="{{ thumbnail.src() }}" alt="{{ image.title }}" data-srcset "{{ thumbnail.srcset() }}" class="object-cover w-32 h-32 border-2 md:w-40 md:h-40 xl:w-56 xl:h-56 border-rug-grey hover:border-rug-light-blue" x-on:click.prevent="open = true">

				<div x-show.transition.opacity="open" class="fixed inset-0 z-50 flex items-center justify-center p-4 bg-black bg-opacity-75">
					<div x-show.transition="open" class="container flex flex-col items-center h-full pt-4 pb-20 overflow-hidden">
						<button x-on:click.prevent="open = false" class="self-end inline-block m-4 text-center text-rug-light-blue hover:text-rug-grey focus:outline-none">
							<i class="fas fa-times-circle"></i>
						</button>
						<img src="{{ thumbnail.src() }}" alt="{{ image.title }}" data-srcset "{{ thumbnail.srcset() }}" class="object-cover w-auto h-full border-2 border-rug-grey" x-on:click.away="open = false">
					</div>
				</div>
			</picture>
		{% endfor %}
	</section>
	<div class="block w-full h-64 md:hidden"></div>
</article>
