<div id="wish-list" class="wishListContent">
	<i class="z-50 text-2xl cursor-pointer fas fa-times text-rug-dark-blue" @click="show = false"></i>
	{# Get the list #}
	{% set list = craft.wishlist.lists().default(true).one() %}
	{% if list|length %}
		{# Display list items #}
		<section class="flex flex-row flex-wrap w-full">
		<h1>Wishlist for Designer</h1>
			{% for item in list.items.all() %}
				{% set entry = craft.entries().id(item.elementId).one() %}
				{% set thumbnail = entry.primaryImage.one().optimizedImages %}
				<div class="p-4">
					<img src="{{ thumbnail.src() }}" alt="" data-srcset="{{ thumbnail.srcset() }}" class="object-cover w-48 h-48 mb-2">
					<h2>{{ item.title }}</h2>
					<ul>
						<li>
							<p>
								Length:
								<strong>{{ entry.physicalLength }}'</strong>
							</p>
						</li>
						<li>
							<p>
								Width:
								<strong>{{ entry.physicalWidth }}'</strong>
							</p>
						</li>
						<li>
							<p>
								Origin:
								{% set origins = entry.origin.all() %}
								{% for tag in origins %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Primary Color:
								{% set colors = entry.colors.all() %}
								{% for tag in colors %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Secondary Color:
								{% set colors = entry.colors.all() %}
								{% for tag in colors %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Materials:
								{% set materials = entry.material.all() %}
								{% for tag in materials %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Construction:
								{% set construction = entry.construction.all() %}
								{% for tag in construction %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Age:
								{% set age = entry.age.all() %}
								{% for tag in age %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
					</ul>
					{# <form id="remove-link" method="POST">
											<input type="hidden" name="action" value="wishlist/items/remove">
											{{ csrfInput() }}
					
											<input type="hidden" name="elementId" value="{{ entry.id }}">
					
											<button type="submit" class="">Remove from List</button>
										</form> #}
				</div>
			{% endfor %}
		</section>
	{% endif %}
	<h2>Send to your Designer</h2>
	{% include "_content/contact-form" %}
</div>
