<div
	id="wish-list" class="wishListContent">

	{# Get the list #}
	{% set list = craft.wishlist.lists().default(true).one() %}

	{# Display list items #}
	<section class="flex flex-row flex-wrap w-full">
		<i class="z-50 w-full text-2xl cursor-pointer fas fa-times text-rug-light-blue" @click="show = false"></i>
		<h2 class="w-full p-4 my-8 text-right bg-rug-grey text-rug-dark-blue">Your Wishlist
			{% if list is not empty %}Includes the Following Products:{% else %}is Empty.
			{% endif %}
		</h2>
		{% if list is not empty %}
			{% for item in list.items.all() %}
				{% set entry = craft.entries().id(item.elementId).one() %}
				{% set thumbnail = entry.primaryImage.one().optimizedImages %}
				<div class="p-4">
					<img src="{{ thumbnail.src() }}" alt="" data-srcset="{{ thumbnail.srcset() }}" class="object-cover w-32 h-32 mb-2 border-2 md:w-40 md:h-40 xl:w-56 xl:h-56 border-rug-grey hover:border-rug-light-blue">
					<h2>{{ item.title }}</h2>
					<ul>
						<li>
							<p>
								Length:
								<strong>{{ entry.physicalLength }}'</strong>
							</p>
						</li>
						<li>
							<p>
								Width:
								<strong>{{ entry.physicalWidth }}'</strong>
							</p>
						</li>
						<li>
							<p>
								Origin:
								{% set origins = entry.origin.all() %}
								{% for tag in origins %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Primary Color:
								{% set colors = entry.primaryColor.all() %}
								{% for tag in colors %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Secondary Color:
								{% set colors = entry.secondaryColor.all() %}
								{% for tag in colors %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Materials:
								{% set materials = entry.material.all() %}
								{% for tag in materials %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Construction:
								{% set construction = entry.construction.all() %}
								{% for tag in construction %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
						<li>
							<p>
								Age:
								{% set age = entry.age.all() %}
								{% for tag in age %}
									<strong>{{ tag.title }}</strong>
								{% endfor %}
							</p>
						</li>
					</ul>
					<form id="remove-button" method="POST">
						<input type="hidden" name="action" value="wishlist/items/remove">
						{{ csrfInput() }}

						<input type="text" name="elementId" value="{{ entry.id }}">

						<input type="submit" value="Remove from List" data-wishListLink="/wish-list">
					</form>
				</div>
			{% endfor %}
		</section>
	{% endif %}
	<section id="" class="w-full">
		<h2>Send to your Designer</h2>
		{% include "_content/wishlist-form" %}
	</section>

</div>
